<!DOCTYPE html>
<html lang="fr-Ca">
<head>
    <meta charset="UTF-8">
    <title>Relève numérique</title>
    <link rel="stylesheet" type="text/css" href="/public/css/button_light_dark.css">
    <link rel="stylesheet" type="text/css" href="/public/css/releve_numerique.css">
    <link rel="stylesheet" type="text/css" href="/css/button_light_dark.css">
    <link rel="stylesheet" type="text/css" href="/css/releve_numerique.css">
	<link rel="icon" href="/public/blob_https___docs.google.com_e1a6744e-35f9-4817-a67d-8f533779eee2.png">
    <link rel="icon" href="/blob_https___docs.google.com_e1a6744e-35f9-4817-a67d-8f533779eee2.png">
    <title>Relève numérique</title>
</head>

<body>


{{{body}}}
    <p>Formulaire incomplet, veuillez compléter les informations demandées.</p>
    <form>
       <button type="submit">Envoyer le formulaire</button>
    </form>
    <script src="/js/button_light_dark.js"> </script>
    <script src="/js/function.js"></script> 
    <script src="/public/js/button_light_dark.js"> </script>
    <script src="/public/js/function.js"></script> 
</body>
