<!DOCTYPE html>
<html lang="fr-Ca">
<head>
    <meta charset="UTF-8">
    <title>Relève numérique</title>
    <link rel="stylesheet" type="text/css" href="/public/css/button_light_dark.css">
    <link rel="stylesheet" type="text/css" href="../css/button_light_dark.css">

    <link rel="icon" href="blob:https://docs.google.com/e1a6744e-35f9-4817-a67d-8f533779eee2">
    <title>Relève numérique</title>
</head>
    <body>

        <div class="container">
            <button id="btn-switch" class="btn-switch">
              <span class="light">Light</span>
              <span class="dark">Dark</span>
            </button>
             </div>
        <script src="/public/js/button_light_dark.js"> </script>
    </body>
</html>