
:root{
  --sizegeneral:24px;
  --sizeinstructions:14px;
  --darkblue:#0b5394;
  --lightblue:#cfe2f3;
  --tranparent: tranparent;
  --bgcolor: white;
  --textwhite:white;
  --lightgray:#efefef;
  --darkgray:#A3A1BE;
  --yellow :#fbbc04 ;
  --red:#ea4335;
  --black: black;
  --boxinfocolor:#d0e0e3;
  --borderpage:100px;
}

body {
  
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: fit-content;
    width: fit-content;
    background-color: var(--bgcolor);
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    
  }
  
  #placement{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    width: 100%;
    gap: 20px;
  }

  #logo {
    text-align: center;
    }
    #logo img {
    width: 300px;
    }
  
  #joindre {
    font-size: 1.2em;
    margin-bottom: 0px;
    background-color: var(--darkblue);
  }
  
  table {
    border-collapse: content;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    color: var(--black);

  }
  
  .light-mode th {
    background-color: var(--darkblue);
    color: var(--textwhite);
    font-family: arial;
    font-size: var(--sizegeneral);
    font-style: bold;

  }

  th {
    background-color: var(--darkblue);
    color: var(--black);
    font-family: arial;
    font-size: var(--sizegeneral);
    font-style: bold;

  }
  .dark-mode th {
    background-color: var(--darkblue);
    color: var(--black);
    font-family: arial;
    font-size: var(--sizegeneral);
    font-style: bold;

  }
  
  tr{
    background-color: var(--lightblue);
  }
  
  td{
    font-size: 18px;
    width: content;
  }

 b .boltname{
    font-weight: 500;
    width:fit-content;
  
  }

  #formulaire{
    padding: 15px;
    align-self: left;
    font-size: var(--sizegeneral);
  }
  #formulaire p, #formulaire p B{
    margin: 0px;
  }

  .dark-mode #instructions {
    background-color: var(--darkgray);
    font-family: var(--sizeinstructions);
    padding-left: 5px;
    border-bottom: 10px solid var(--darkgray);
  }
  #instructions{
  background-color: var(--lightgray);
  font-family: var(--sizeinstructions);
  padding-left: 5px;
  border-bottom: 10px solid var(--lightgray);

  }
  
  #instructions ul{
    padding: 0 0 0 300px; /*top, right, bottom, and left*/
    
  }

  b.time{
    font-family: var(--sizeinstructions);
    

  }
  
  .indication_lien{
    background-color: var(--yellow);
    text-align: center;
    border-top: 10px solid var(--tranparent);
    border-bottom: 10px solid var(--tranparent);
  }
.first{
  padding:0;
  width:100%;
}

  .progression{
  width: 100%;
  background-color: var(--darkblue);
  color: var(--textwhite);
  padding: 3px;
  vertical-align: baseline;
  height: var(--sizegeneral);
  display: flex;
  align-items: center;  
  }
  
  .grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;
  height: auto-fit;
  padding: 0 20px;

  background: var(--lightblue);

  }
  .buttonlink{
    border: var(--tranparent);
    background-color: var(--tranparent);
    height:var(--sizegeneral) ;
  }

  .red{
    padding-top: 5px;
    background-color: var(--red);
    height:var(--sizegeneral) ;
  }

  .incomplet{
text-align: center;
color: var(--textwhite);
background-color: var(--darkblue) ;
margin: 0px;
vertical-align: baseline;
height: var(--sizegeneral);
display: flex;
align-items: center;  
justify-content: center;
 }

 

 ul,ol, ol label b {
  padding: 5px;
  
 }


 form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

form label {
  display: inline-block;
  width: 300px;
  text-align: right;
  margin-right: 10px;
  padding: 5px 5px 5px 0px;/*top, right, bottom, and left*/

}

form input [type="text"] {
  flex: 1;
}

.bolt{
  width: fit-content;
  font-weight: 700;
}

.auto-fit-impot {
  width: calc(100% - 350px);
  float: right;
  background-color: var(--boxinfocolor);
  border: dotted 1px;
}

.centerbaseline{
vertical-align: baseline;
height: var(--sizegeneral);
display: flexbox;
align-items: center;
}

.imput_periode{
  width: 100px;
  float: flex left;
  background-color: var(--boxinfocolor);
  border: dotted 1px;
}












/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(209, 155, 96, 0.6), rgba(155, 89, 182, 0.6));

}

/*form styles*/
#msform {
	width: fit-content;
	margin: 50px auto;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {

}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
  text-align: center;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
  text-align: center;
  justify-content: center;
}
#progressbar li {
	list-style-type: none;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-size: 9px;
	width: auto;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}





